@font-face {
    font-family: "SFPro";
    src: url("/assets/fonts/sfpro/SF-Pro-Display-Regular.otf");
    font-style: normal;
}

@font-face {
    font-family: "SFPro";
    src: url("/assets/fonts/sfpro/SF-Pro-Display-Bold.otf");
    font-weight: bold;
}

body {
    /* background-color: #ffffff; */
    /* background-image: url("../user/bg/naruto.jpeg"); */
    font-family: "SFPro";
    /* color: #86868b; */
    color: #1d1d1f;
}

#state {
    display: none;
}

#sidebar {
    width: 23%;
    background-color: #ffffff;
    position: fixed;
    height: 100%;
    box-shadow: .25rem 0 10px rgba(0, 0, 0, 0.075);
}

#sidebar ul {
    /* background-color: blue; */
    padding: 2.7rem 1rem;
}

#sidebar ul li {
    /* background-color: gold; */
    list-style: none;
}

#sidebar ul li a {
    display: block;
    color: #000;
    margin-bottom: 1rem;
    padding: 1rem;
    text-decoration: none;
    border-radius: .72rem;
}

#sidebar ul li a:hover {
    background-color: #2563eb;
    color: #ffffff;
}

#sidebar ul li a.active {
    background-color: #1d58d8;
    /* font-weight: bold; */
    color: #ffffff;
}

#sidebar ul li a {
    display: flex;
    align-items: center;
}

#app {
    /* position: fixed; */
    width: 73%;
    /* background-color: #ffffff; */
    float: right;
    padding: 2.7rem 1rem;
}

#app .title-app {
    color: #000;
    font-size: 22pt;
}

.btn {
    display: block;
    border: none;
    text-decoration: none;
    color: inherit;
    padding: .5rem 1rem;
    cursor: pointer;
    border-radius: 1rem !important;
    transition: .2s;
}

.btn:focus {
    outline: none;
}

.btn.btn-white {
    background-color: #FFFFFF;
}

.btn.btn-primary {
    background-color: #0071e3;
    color: #fff;
}

.btn.btn-primary:hover {
    background-color: #085aac;
    color: #fff;
}

.btn.btn-warning {
    background-color: #FCC737;
}

.btn.btn-gray {
    background-color: #BCCCDC;
}

/* .form-control {
    margin: 1rem 0;
} */
/* 
.form-control input,
.form-control textarea {
    width: 100%;
    display: block;
    padding: 1rem;
    border-width: .17rem;
    border-style: solid;
    border-color: #86868b;
    border-radius: 1rem;
    resize: vertical;
}

.form-control input:focus,
.form-control textarea:focus {
    outline: none;
    border-color: #0071e3;
}

.form-control label {
    display: block;
    margin-bottom: 1.2rem !important;
} */

.card-notes-wraper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    width: 25%;
    height: 11rem;
    background-color: red;
    /* padding: 1rem; */
    padding: .52rem;
    overflow-x: hidden;
}

.card-content {
    background-color: beige;
}

/* .d-none {
    display: none !important;
} */

/* .d-flex {
    display: flex !important;
} */

/* .flex-align-center {
    align-items: center;
}

.flex-justify-center {
    justify-content: center;
}

.flex-column {
    flex-direction: column;
} */

/* Spacing */
.m-auto {
    margin: auto;
}

.mb-4 { margin-bottom: 1rem; }
.mb-6 { margin-bottom: 1.5rem; }

.ms-auto {
    margin-left: auto;
}

.me-3 {
    margin-right: .75rem;
}

.me-4 {
    margin-right: 1rem;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

/* Popup */
.popup {
    background-color: rgba(0, 0, 0, 0.72);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.popup-content {
    border-radius: .75rem;
    background-color: #ffffff;
    padding: 1.75rem 2.7rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    max-width: 72%;
}

.popup-icon {
    margin: 0 1rem;
}

.w-90 { width: 90% !important;}
.w-100 { width: 100%; }